.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card-image {
  object-fit: cover;
  border-radius: 20px;
  width: 100px;
  height: 100px;
}
.card-text {
  color: black;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.card-container {
  grid-auto-flow: column;
  overflow-x: auto;
  padding-left: 20px;
}

/* philips vorschlag */
.card-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 20px;
  grid-template-rows: auto;
}

.card-container::-webkit-scrollbar {
  display: none;
}
