<section class="card-container">
    <figure class="card">
        <img
          class="card-image"
          src="https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60"
          alt="Offers"
        />
        <p class="card-text">Offers</p>
      </figure>
      <figure class="card">
        <img
          class="card-image"
          src="https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60"
          alt="Offers"
        />
        <p class="card-text">Offers</p>
      </figure>
      <figure class="card">
        <img
          class="card-image"
          src="https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60"
          alt="Offers"
        />
        <p class="card-text">Offers</p>
      </figure>
      <figure class="card">
        <img
          class="card-image"
          src="https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60"
          alt="Offers"
        />
        <p class="card-text">Offers</p>
      </figure>
      <figure class="card">
        <img
          class="card-image"
          src="https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fGZvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60"
          alt="Offers"
        />
        <p class="card-text">Offers</p>
      </figure>
                  
  </div>
</section>
